{% extends 'layout/base.html' %}

{% block content %}

<h1>El problema de la subasta Pública<br> Respuesta de la Solución Ingenua/Fuerza Bruta</h1>

<div class="mt-3 d-flex align-items-center justify-content-center">
</div>

<div class="mt-3 d-flex flex-container justify-content-center">

    <div id="carouselExample" class="carousel slide" style="height: auto;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!-- <li class="page-item"><a class="page-link" href="">Regresar</a></li> -->
            </ul>
        </nav>
        <div class="carousel-inner">
            <div class="carousel-item active" style="width: 50rem;">
                <div class="card" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Valor Recibido (VR)</h5>
                        <p class="card-text">{{ vr }}</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="width: 50rem;">
                <div class="card" style="width: 100%;height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Tiempo de ejecución de la Solución Ingenua/Fuerza Bruta</h5>
                        <p class="card-text">{{ tiempo_ejecucion }} segundos</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="width: 50rem;">
                <div class="card" style="width: 100%; max-height: 300px; overflow-y: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Asignación de Acciones de la Solución Ingenua/Fuerza Bruta</h5>
                        <div class="m-4">   
                            <ul class="list-group">
                                {% for key, value in acciones_compradas %}
                                    <li class="list-group-item">Oferta #{{ key }} se le asignan {{ value }} acciones</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <!-- CSS personalizado -->
    <style>
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #007bff;
            /* Cambia el color del ícono de la flecha */
            border-radius: 50%;
            /* Le da un borde redondeado */
            padding: 10px;
            /* Ajusta el tamaño del ícono */
            border: 2px solid white;
            /* Añade un borde blanco para resaltar sobre el fondo */
        }

        .carousel-control-prev-icon:hover,
        .carousel-control-next-icon:hover {
            background-color: #0056b3;
            /* Cambia el color cuando se pasa el cursor */
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 10%;
            /* Ajusta el área de clic de los botones */
        }
    </style>

    {% endblock %}