{% extends 'layout/base.html' %}

{% block content %}

<h1>El problema de la subasta Pública<br> {{ titulo_solucion }} <br> {{ n }}</h1>


<div class="mt-5 d-flex flex-container justify-content-center">
    <form method="POST" action="{% if solucion == 'ingenua' %}{% url 'subasta_ingenua' %} {% elif solucion == 'dinamica' %} {% url 'subasta_dinamica' %} {% elif solucion == 'voraz' %} {% url 'subasta_voraz' %} {% endif %}">
        <h3>Ingrese la cantidad de acciones y el precio mínimo</h3>
        {% csrf_token %}
        <div class="mb-3" style="width: 50rem; margin-right: 30px;">
            <div class="mb-3">
                <label for="cantidad_acciones" class="form-label">Cantidad de acciones (A)</label>
                <input type="number" class="form-control" name="cantidad_acciones" placeholder="Ingrese un numero" required >
            </div>
            <div class="mb-3">
                <label for="precio_minimo" class="form-label">Precio Mínimo (B)</label>
                <input type="number" class="form-control" name="precio_minimo" placeholder="Ingrese un numero" required>
            </div>

            <input type="hidden" name="n" value="{{ n }}">
            
            {% for i in rango %}
            <h4>Datos de oferta #{{ i }}</h4>
            <div class="mb-3">
                <label for="p{{ i }}" class="form-label">Precio (p{{ i }})</label>
                <input class="form-control" type="number" name="p{{ i }}" placeholder="Ingrese el precio" required>

                <label for="min{{ i }}" class="form-label">Cantidad de acciones minima de acciones (m{{ i }})</label>
                <input class="form-control" type="number" name="min{{ i }}" placeholder="Ingrese la cantidad de acciones" required>

                <label for="max{{ i }}" class="form-label">Cantidad de acciones maxima de acciones (M{{ i }})</label>
                <input class="form-control" type="number" name="max{{ i }}" placeholder="Ingrese la cantidad de acciones" required>
            </div>
            {% endfor %}


            <button type="submit" class="btn btn-primary mb-3">Iniciar Solución de la Subasta voraz</button>
    
        </div>
        
    </form>

</div>


{% endblock %}