{% extends 'layout/base.html' %}

{% block content %}

<h1>La Terminal Inteligente</h1>

<div class="mt-3 d-flex align-items-center justify-content-center" >
    <div class="card" style="width: 18rem; margin-right: 30px; height: 224px">
        <div class="card-body">
          <h5 class="card-title" style="height: 50px">Solución Ingenua/Fuerza Bruta</h5>
          <!--   -->
          <p class="card-text">Solución que prueba todas las combinaciones posibles de operaciones sobre una cadena para encontrar la cadena objetivo.</p>
          <a href="{% url 'terminal_ingenua' %}" class="card-link">Ir a la pagina</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin-right: 30px; height: 224px">
        <div class="card-body">
          <h5 class="card-title">Solución Dinámica</h5>
          <!--   -->
          <p class="card-text">Solución que descompone el problema en subproblemas más pequeños, almacenando sus resultados para evitar recomputaciones.</p>
          <a href="{% url 'terminal_dinamica' %}" class="card-link">Ir a la pagina</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin-right: 30px; height: 224px">
      <div class="card-body">
        <h5 class="card-title" style="height: 50px">Solución Voraz</h5>
        <p class="card-text">Solución que consiste en elegir la operación optima en cada paso local para encontrar la cadena objetivo.</p>
        <a href="{% url 'terminal_voraz' %}" class="card-link">Ir a la pagina</a>
      </div>
  </div>
    
</div>

{% endblock %}