{% extends 'layout/base.html' %}

{% block content %}

<h1>Proyecto I - ADA II <br> La terminal inteligente y el problema de la subasta pública</h1>

<div class="mt-3" id="list">
    <ul class="list-group">
        <li class="list-group-item">
            <button type="button" class="btn btn-light">Terminal Inteligente Ingenua</button>
        </li>
        <li class="list-group-item">Terminal Inteligente Dinámica</li>
        <li class="list-group-item">Terminal Inteligente Voraz</li>
        <li class="list-group-item">Subasta Pública Ingenua</li>
        <li class="list-group-item">Subasta Pública Dinámica</li>
        <li class="list-group-item">Subasta Pública Voraz</li>
    </ul>
</div>
{% endblock %}